
.divCarousel{
    height: 500px;
    margin-top: 2%;
   
    
}
.textH3{
    color: blue;
    margin-bottom: 90%;
    margin-right: 80%;
    font-size: 200px;
}
.img1{
    height: 80%;
    margin-bottom: 60%;
    margin-right: 80%;
}