
.divCarousel{
    height: 560px;
    margin-top: 0%;
   
    
}
.crslCap1{
    color: rgb(16, 16, 22);
    text-shadow: 50cap;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20%;
   
    font-size: 70px;
}
